body
{
    margin: 10px;
    border: solid black;
    
}
#navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    opacity: 1;
    color: white;
    padding: 0px 10px;
    font-weight: bold;
    font-size: 20px;
    
   
    
    
}
nav 
{
    display: flex;
    gap: 30px;
    
}
nav a
{
    color: white;
    text-decoration: none;
    padding: 6px 8px;
    font-weight: bold;
    transition: 0.5s;
}
nav a:hover
{
    transform: scale(1.05);
    color: blue;
}
.symbol
{
    display: inline-block;
    border-radius: 10px;
   padding: 5px 8px;
   background: linear-gradient(to right,purple,blue);
   color: white;
   text-decoration: none;
   transition: 0.5s;
   
}
.symbol:hover{
    transform: scale(1.25);
    color: white;
}
.textcolor
{
    background: linear-gradient(to right,purple,blue);
    background-clip: text;
    -webkit-text-fill-color: transparent;   
}

/* introduce */
a
{
    text-decoration: none;
}
#view
{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
    
}

.contact
{
    border: solid black;
    padding: 5px 8px;
    border-radius: 10px;
    color: white;
     transition: 0.5s;
}
.contact:hover
{
     transform: scale(1.25);
}
#introduce
{
   color: white;
   min-height: 325px;
    background-image: url(images/background.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 20px; 
   
}


#icons{
   display: flex;
   gap: 50px;
   position: relative;
   top: 20px;
  
   
}
#icons a {
    color: aliceblue;
     transition: 0.5s;
}
#icons a:hover
{
    transform: scale(1.50);
    color: blue;
}


/* profile head */
.profileHead 
{
    
    text-align: center;
    font-weight: bold;
    
  
}
.profileLine
{
   
   text-align: center;
   height: 5px;
   width: 100px;
   position: relative;
   left: 47%;
   background: linear-gradient(to right,purple,blue);
}

.details
{
    display: flex;
    align-items: center;
    gap:8px;
}


#details
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#profileCard
{
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    
    border:  solid black;
    width: 1100px;
    
   
    position: relative;
    left: 16%;
    padding: 15px;
    box-shadow: 5px 5px 5px ;
    box-sizing: border-box;
    
    background:linear-gradient(to right,purple,blue);
    color: white;
    border-radius: 20px;
}

#profileCard  #para
{
    width: 700px;
    
}

#profileCard img
{
    transition: 0.3s;
    padding: 4px;
    cursor: pointer;
    background-color: black;    
}
#profileCard img:hover
{
    transform: scale(1.05);
}

.detail_name p:hover 
{
    
    transform: scale(1.25);
}
.detail_name p
{
    transition: 0.3s;
}

#skcard
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
    margin-left: 50px;
    margin-right: 50px;
    
    align-items: center;
    text-align: center;
    
}

.progress
{
    width:50%;
    height: 5px;
    background-color: grey ;
    
    border-radius: 10px;
    margin-left: 25%;
    box-sizing: border-box;
    /* text-align: center; */
    
}
.html
{
    width: 90%;
    height: 100%;
    background-color: orange;
   
}
.css
{
    background-color: blue;
     width: 90%;
    height: 100%;
}
.javascript
{
    background-color: yellow;
     width: 80%;
    height: 100%;
}
.sql
{
     width: 80%;
    height: 100%;
    background-color: blue;
}
.python
{
     width: 80%;
    height: 100%;
    background-color: darkblue;
}
.react
{
     width: 75%;
    height: 100%;
    background-color: aqua;
}
#skills
{
    background-color: lightslategrey;
}
.skills
{
    border-radius: 20px;
    background-color: white;
    padding: 10px 5px;
    margin: 10px;
    transition: 0.3s;
    box-shadow: 5px 5px ;
}
.skills:hover
{
    transform: scale(1.05);

}
.projectbutton
{
    display: flex;
    gap: 30px;
    align-items: center;
   
}

#projectcard
{
    display: flex;
    justify-content: space-evenly;

}
.projectcard 
{

  border: ridge;
  
  border-radius: 20px;
  margin: 20px;

}
/* .proimg
{
    width: 350px;

}
.projectcard img{
    width: 100%;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
} */
.projectcard p{
   margin-left: 10px;
   text-align: left;
    
}
.projectbutton h3{
    border: ridge;
    padding: 8px;
    border-radius: 10px;
    
}
.projectcard h3{
    margin-left: 10px;
}

.backpic
{
    background-color: aliceblue;
    padding: 10px 20px 10px 0px;

}
.projectbutton h3{
    margin-left: 40px;
    transition: 0.3s;
    cursor: pointer;
}

.projectbutton h3:hover
{
    transform: scale(1.05);
}
#project
{
    background-color: white;
}


#endpage
{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right,purple,blue);
    padding: 20px 30px 2px ;
    color: white;
    align-items: center;
    
}
.endline
{
    width: 60px;
    background-color: white;
    height: 3px;
}


#message
{
    border: hidden;
    padding: 8px 35%;
    border-radius: 10px;
    background: linear-gradient(to right,purple,blue);
    cursor: pointer;
    margin-top: 10px;
    color: white;
    

}
#endpage input
{
    background: transparent;
    outline: none;
    border: ridge;
   
    padding: 6px 10px;
    color: white;
    border-radius: 10px;
}

#endpage textarea
{
    width: 100%;
    height: 100px;
    background: transparent;
    color: white;
    border-radius: 10px;
    outline: none;
}



footer{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 2px;
    font-size: smaller;
}

/* #navbar nav a{
    transition-property: background,color;
    transition-duration: 3s;
    transition-timing-function: ease-in-out ;
    transition-delay: 2s;
}

#navbar nav a:hover
{
    background-color: aqua;
    color: brown;
} */

